{% for repository in jenkins_git_repositories %}
pipelineJob('{{ repository }}') {

   properties {
    pipelineTriggers {
      triggers {
        genericTrigger {
          genericVariables {
           
          }
             printContributedVariables(true)
   printPostContent(true)
   silentResponse(false)
   regexpFilterText("")
   regexpFilterExpression("")
        }
      }
    }
  }
  



  definition {
    cpsScm {
      scm {
        git {
          remote {
            url('{{ jenkins_git_host }}/{{ jenkins_git_path }}/{{ repository }}.git')
          }
          branch('master')
        }
      }
      scriptPath('JenkinsMaven/Jenkinsfile')
    }
  }
}

{% endfor %}
